<div id="menu-principal-logo">
	<img src="./assets/img/logo.png" i18n-title ="logo title|un titre pour le logo@@menu-logo-title" title="Le Rouge Gorge" alt="logo" />
	<h1>
		Le Rouge Gorge
	</h1>

</div>

<nav id="menu-principal-nav">
	<ul>
		<li><a 
			i18n-title="title link restaurant|titre du lien restaurant dans le menu principal@@menu-link-restaurant-title"
			title="Restaurant" 
			i18n="link restaurant|nom du lien pour le restaurant dans le menu principal@@menu-link-restaurant">
			Restaurant
		</a></li>
		<li><a 
			i18n-title="title link chambre|titre du lien chambre dans le menu principal@@menu-link-chambre-title"
			title="Chambres d'hôtes"
			i18n="link chambre|nom du lien pour les chambres dans le menu principal@@menu-link-chambre">
			Chambres d'hôtes
		</a></li>
		<li><a 
			i18n-title="title link activite|titre du lien actiité dans le menu principal@@menu-link-activite-title" 
			title="Actiitées"
			i18n="link activite|nom du lien pour les activitées dans le menu principal@@menu-link-activite">
			Activitées
		</a></li>
		<li><a 
			i18n-title="title link partenaire|titre du lien partenaire dans le menu principal@@menu-link-partenaire-title"
			title="Partenaires"
			i18n="link partenaire|nom du lien partenaire dans le menu principal@@menu-link-parteanire">
			Partenaires				
		</a></li>
		<li><a 
			i18n-title="title link contact|titre du lien contact dans le menu rpincipal@@menu-link-contact-title"
			title="Contacts"
			i18n="link contact| nom du lien contact dans le menu principal@@menu-link-contact">
			Contacts
		</a></li>
	</ul>
</nav>