<div id="home-img-screen">
	<div class="carcan">
		<img src="./assets/img/le-rouge-gorge.png" class="img-menu first" alt="image de la picsine"/>
	</div>
	<app-menu-principal></app-menu-principal>
	<section>
		<h2 class="sub-title" i18n="home-img-screen-subtitle|le petit titre de l'ecran d'accueil@@home-img-screen-subtitle">
			restauration typique de provence
		</h2>
		<h1 class="title" i18n="home-img-screen-title|le titre de l'ecran d'accueil@@home-img-screen-title">
			Site En Construction
		</h1>
		<p>
			Profitez du meilleur  de la gastronomie provençale sous le champs des sigales.
		</p>
	</section>
	

	<footer>
		Pontevès - tel: 04 94 77 03 97 mail: crrougegorge@aol.com
	</footer>

</div>